* {
    box-sizing: border-box;
}

.container {
    /* display: flex;
    flex-wrap: wrap; */
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-container {
    background-color: #1f2937;
}

.hero-section {
    display: flex;
    justify-content: center;

}

.hero-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 35%;
    padding: 30px;
}

.hero-right {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.hero-left h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-left p,
nav ul {
    font-size: 18px;
    color: #E5E7Eb;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.hero-cta {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    font-weight: bold;
}